.menu a:hover {
    color: red;
}
/****************** menu2 */
.menu2 li {
    list-style-type: none;
    width: 200px;
    height: 25px;
    border: 1px solid blue;
    margin-top: 5px;
}
.menu2 a {
    margin-left: 5px;
    color: blue;
    text-decoration: none;
}
.menu2 a:hover {
    font-weight: bold;
}

/****************** menu3 */
.menu3 ul {
    list-style-type: none;
}
.menu3 li {
    width: 200px;
    height: 25px;
    background-color: brown;
    border: 1px solid whitesmoke;
    margin-top: 5px; 
}
.menu3 a {
    color: whitesmoke;
    margin-left: 5px;
    text-decoration: none;
}
.menu3 li:hover {
    background-color: seagreen;
    border: 1px solid brown;
    color: brown;
}
.menu3 a:hover {
    font-weight: bold;  
}


/****************** menu4 */
.menu4 li {
    display: inline;
    list-style-type: none;
    width: 200px;
    height: 25px;
    border: 1px solid blue;
    margin: 5px;
}
.menu4 a {
    margin: 5px;
    color: blue;
    text-decoration: none;
}
.menu4 a:hover {
    color: red;
}
