body {
    background-color: aquamarine;
}
article {
    border: 5px solid rebeccapurple;
    height: 450px;
}
article>div {
    border: 5px solid royalblue;
    width: 200px;
    height: 100px;
    margin-left: calc(50% - (200px / 2));
    margin-top: 100px;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
div {
    height: 400px;
    width: 32%;
    border: 5px solid green;
    margin-top: 5px;
    display: inline-block;
}
